<div id="owl-two" style="margin-top: 50px; position: relative">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="imageSlide" (click)="open(1)">
        <img
          src="../../assets/images/oakImage-1583946227866-mediumSquareAt3X.jpg"
          alt=""
        />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="imageSlide" (click)="open(2)">
        <img
          src="../../assets/images/c1d582de-2b6f-4e6a-93e4-46ffd108de06----1.jpg"
          alt=""
        />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="imageSlide" (click)="open(3)">
        <img
          src="../../assets/images/e9bfc8e9-a6a9-4ab8-bb22-ac34b4f44aed.jpg"
          alt=""
        />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="imageSlide" (click)="open(4)">
        <img
          src="../../assets/images/oakImage-1583946227866-mediumSquareAt3X.jpg"
          alt=""
        />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="imageSlide" (click)="open(5)">
        <img
          src="../../assets/images/c1d582de-2b6f-4e6a-93e4-46ffd108de06----1.jpg"
          alt=""
        />
      </div>
    </ng-template>
  </owl-carousel-o>
  <div class="DetailButtonContainer">
    <button>View All Photos (63)</button>
  </div>
</div>
