<div class="HeaderContainer">
  <div class="LogoContainer">
    <img
      src="../../../assets/images/Star-One-Logo-30-Years-removebg-preview 2.png"
      alt=""
    />
  </div>
  <div class="HeaderLink">
    <a class="showOnDesktop">HOME</a>
    <a class="showOnDesktop">CAREER</a>
    <a class="showOnDesktop">SERVICES</a>
    <a class="showOnDesktop">CONTACT</a>
    <a><span class="material-icons"> account_circle </span></a>
    <a class="showOnDesktop">LOGIN</a>
    <a class="showOnMobile">
      <span class="material-icons"> menu </span>
    </a>
  </div>
</div>
