<div id="owl-one">
  <div style="width:100%;" class="SimilarHouses">
  <h1>Similar Houses</h1>
  <div class="Stroke"></div>
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="HouseCard">
        <div class="PendingButtonContainer">
          <button class="PendingStatus">Pending</button>
        </div>
        <div class="ImageAndPriceContainer">
          <div class="ImageBox">
            <img
              src="../../assets/images/c1d582de-2b6f-4e6a-93e4-46ffd108de06----1.jpg"
              alt=""
            />
          </div>
          <div class="PriceBox">$56,545</div>
        </div>
        <div class="FeatureContainerOne">
          <a><span class="material-icons"> hotel </span> 4 Beds </a>
          <a><span class="material-icons"> bathtub </span> 4 Beds </a>
          <a><span class="material-icons"> aspect_ratio </span> 4 Beds </a>
        </div>
        <div class="FeatureContainerOne FeatureContainerTwo">
          <a
            ><span class="material-icons"> business </span> Ranch Traditional</a
          >
        </div>
        <div class="FeatureContainerOne FeatureContainerThree">
          <a
            ><span class="material-icons"> fmd_good </span>5117 Garden Grove
            Lane Dehli Twp OH 45238</a
          >
        </div>
        <div class="EmailAgent"><button>Email Agent</button></div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="HouseCard">
        <div class="PendingButtonContainer">
          <button class="PendingStatus">Pending</button>
        </div>
        <div class="ImageAndPriceContainer">
          <div class="ImageBox">
            <img
              src="../../assets/images/c1d582de-2b6f-4e6a-93e4-46ffd108de06----1.jpg"
              alt=""
            />
          </div>
          <div class="PriceBox">$56,545</div>
        </div>
        <div class="FeatureContainerOne">
          <a><span class="material-icons"> hotel </span> 4 Beds </a>
          <a><span class="material-icons"> bathtub </span> 4 Beds </a>
          <a><span class="material-icons"> aspect_ratio </span> 4 Beds </a>
        </div>
        <div class="FeatureContainerOne FeatureContainerTwo">
          <a
            ><span class="material-icons"> business </span> Ranch Traditional</a
          >
        </div>
        <div class="FeatureContainerOne FeatureContainerThree">
          <a
            ><span class="material-icons"> fmd_good </span>5117 Garden Grove
            Lane Dehli Twp OH 45238</a
          >
        </div>
        <div class="EmailAgent"><button>Email Agent</button></div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="HouseCard">
        <div class="PendingButtonContainer">
          <button class="PendingStatus">Pending</button>
        </div>
        <div class="ImageAndPriceContainer">
          <div class="ImageBox">
            <img
              src="../../assets/images/c1d582de-2b6f-4e6a-93e4-46ffd108de06----1.jpg"
              alt=""
            />
          </div>
          <div class="PriceBox">$56,545</div>
        </div>
        <div class="FeatureContainerOne">
          <a><span class="material-icons"> hotel </span> 4 Beds </a>
          <a><span class="material-icons"> bathtub </span> 4 Beds </a>
          <a><span class="material-icons"> aspect_ratio </span> 4 Beds </a>
        </div>
        <div class="FeatureContainerOne FeatureContainerTwo">
          <a
            ><span class="material-icons"> business </span> Ranch Traditional</a
          >
        </div>
        <div class="FeatureContainerOne FeatureContainerThree">
          <a
            ><span class="material-icons"> fmd_good </span>5117 Garden Grove
            Lane Dehli Twp OH 45238</a
          >
        </div>
        <div class="EmailAgent"><button>Email Agent</button></div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
